Package: minimal-rpi-os
Architecture: arm64
Version: 1.0.5
Priority: optional
Section: metapackages
Maintainer: Pier Fumagalli <pier@usrz.com>
Homepage: https://github.com/usrz/minimal-ubuntu
Description: A minimal base package for Ubuntu on Raspberry PI
Depends: gpiod,
         i2c-tools,
         iw,
         linux-firmware-raspi,
         minimal-os,
         rfkill,
         rpi-eeprom,
         wireless-regdb,
         wpasupplicant
