[Unit]
Description=Minimal OS Initial Setup Service
Requires=network-online.target
Before=ssh.service

[Service]
EnvironmentFile=/etc/default/minimal-os-setup
StandardOutput=journal+console
StandardError=journal+console
ExecStart=/usr/libexec/minimal-os-setup
Type=oneshot

[Install]
WantedBy=multi-user.target
