Package: minimal-ec2-os
Architecture: all
Version: 1.0.5
Priority: optional
Section: metapackages
Maintainer: Pier Fumagalli <pier@usrz.com>
Homepage: https://github.com/usrz/minimal-ubuntu
Description: A minimal base package for Ubuntu on EC2
Depends: cloud-guest-utils,
         fdisk,
         grub-efi,
         minimal-os
