Package: minimal-ec2-os
Architecture: all
Version: 1.0.4
Priority: optional
Section: metapackages
Depends: cloud-guest-utils, fdisk, grub-efi, minimal-os
Description: A minimal base package for Ubuntu on EC2
Maintainer: Pier Fumagalli <pier@usrz.com>
