Package: minimal-os
Architecture: all
Version: 1.0.5
Priority: optional
Section: metapackages
Maintainer: Pier Fumagalli <pier@usrz.com>
Homepage: https://github.com/usrz/minimal-ubuntu
Description: A minimal base package for Ubuntu
Depends: apt-utils,
         bzip2,
         ca-certificates,
         curl,
         dbus,
         deborphan,
         dnsutils,
         dosfstools,
         fdisk,
         gnupg1,
         initramfs-tools,
         iproute2,
         iputils-ping,
         less,
         locales,
         man-db,
         minimal-os-setup,
         net-tools,
         openssh-server,
         sudo,
         systemd,
         systemd-sysv,
         systemd-timesyncd,
         vim,
         whiptail
